body {
    background-color: rgb(79, 162, 173);
    overflow-x: hidden;
}
.container {
    overflow: hidden;
}
.form-details {
    margin-left: 360px;
    padding: 2px;
} 
img {
    float:left;
    width:30%;
    margin-top: 50px;
    height: 500px;

} 
#myInput {
    padding: 10px;
}


.tab-2 {
    margin-bottom: 5%;
    font-size: 20px;
    margin-top: 50px;

}
.tab-2 input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}
.tab-1 table {
    table-layout: auto;
    width: 100%;
    margin: 20px auto;
    
}
table tr, table th{
    
    font-size: 20px;
    
}


.tab-2 button {
    font-family: 'Times New Roman', Times, serif;
    outline: 0;
    background: rgb(40, 94, 40);
    width: 20%;
    border: 0, thick;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
}
  #pay  {
    font-family: 'Times New Roman', Times, serif;
    background: wheat;
    width: 80px;
    border: 0, thick;
    padding: 2px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    margin-left: 900px;
}